@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');


.header-color{
  background: #FF5F6D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
display: flex;
}

.header-row{
  justify-content: center;
  font-family: 'Open Sans',sans-serif;
}
.header-row ul{
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.header-row li{
  display: inline-block;
  text-decoration: none;
}
.header-row a{
  outline: none;
  text-decoration: none;
  color:white;
  display: block;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-top: 15px;
}
.header-row i{
  color: white;
}

.landing-grid{
  background: #FF5F6D;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
}


.profile-cell img{
  border-radius: 50%;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  margin-left: 602px;
  margin-right: 602px;
  margin-top: 76px;  
  vertical-align: middle;
}

.name-text h1{
font-family:'Raleway',sans-serif;
color: white;
font-size: 36px;
margin-top: 5px;
margin-left: 1em;
margin-bottom: 5px;
font-weight: 700;
font-style: bold;
line-height: 1.1em;
}

.name-text h2{
font-family: "Raleway",sans-serif;
color: white;
font-size:24px;
margin-top: 5px;
margin-bottom: 5px;
font-weight: 400;
font-style: normal;
margin-left: 1.5em;
line-height: 1.1em;
}

.landing-grid hr{
  border-top: 5px dotted white;
  width: 10%;
  margin: auto;
}

.landingpage-icon{
  display: inline;
  justify-content: space-between;
  margin: auto;
}

.landingpage-icon i{
  margin:5px;
  color: white;
  font-size: 5em;
  padding: 8px;
}

.preloader-homepage{
  height: 100vh;
  width: 100%;
  display: flex; 
  justify-content: center;
  align-items: center;
  color:red;
  vertical-align:middle;
}

.banner{
  background-color: black;
  opacity: .8;
  width: 75%;
  margin:auto;
  border-radius: 10px;
}

.self-typed{
  font-family:'Raleway',sans-serif;
color: white;
font-size: 36px;
font-weight: 700;
font-style: bold;
}

.contact-form{
  background: #FF5F6D;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}
.contact-form form{
margin: auto;
width: 100%;
height: 100%;
justify-content: center;
}
.contactform-text{
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 550px;
  color:white;
  margin-bottom: 20px;
  height: 40%;  
}

.contactform-text h1{
  font-family:'Raleway',sans-serif;
  font-style: bold;
  font-weight: 800;
  font-size: 40px;
  margin-top: 12px;
  margin-bottom: 12px;
}



.contactform-text h2{
  font-family:'Raleway',sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 36px;
}

.contactform-text h3{
margin-top: 12px;
margin-bottom: 12px;
}

.contactform-row1 h1{
  font-family:'Raleway',sans-serif;
  font-style: bold;
  font-weight: 800;
  font-size: 30px;
  color: white;
  margin: 0em;
  padding-left: 2em;
}

.contactform-row2 h1{
  font-family:'Raleway',sans-serif;
  font-style: bold;
  font-weight: 800;
  font-size: 30px;
  color: white;
  margin: 0em;
  padding-left: 2em;
}


.contactform-message h1{
  font-family:'Raleway',sans-serif;
  font-style: bold;
  font-weight: 800;
  font-size: 30px;
  color: white;
  margin: 0em;
  padding-left: 2em;
}

.contactform-button{
  text-align: center;
}

.contactform-button button{
  color: white;
  font-family:'Raleway',sans-serif;
  font-style: bold;
  font-weight: 800;
  letter-spacing: 1px;
  background-color:grey;
  height: 40px;
  width: 90px;
}

.mdl-layout__content{
background: #FF5F6D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}



.aboutme-body img{
  height: 80%;
  align-items: center;
  border-radius: 50%;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  vertical-align: middle;
}
.aboutme-body{
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top:1em;
}
.aboutme-grid{
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  color:white;
  margin-bottom: 20px;
}
.aboutme-grid h2 {
  font-family: 'Montserrat', sans-serif;
  margin: 5px;
  margin-bottom: 15px;
  color:white;
} 

.aboutme-grid p {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.aboutme-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  padding: 10px;
  margin: auto;
}

.aboutme-list{
  display: grid;
  width: 100%;
  margin: auto;
}

.aboutme-list i{
  font-size: 15px;
  padding-right: 2rem;
  color: black;
}
.avatar-img {
  height: 250px;
  padding-top: 5em;
}

.mdl-list{
  margin-top: 0px;
}

.text-image{
  font-size: medium;
}

@media only screen and (max-width: 812px) {
.landing-grid{
margin-top: 5em;
padding-top: 5em;
}

.profile-cell img{
  margin-left: 90.5px;
  margin-right: 90.5px;
  margin-top: 76px;
}
.contactform-text{
  padding-top: 40px;
}


}
@media only screen and (min-width: 813px){
.profile-cell img{
  margin-left: 334px;
  margin-right: 334px;
  margin-top: 76px;
}

.aboutme-body i{
  margin-left: 54px;
  padding-left: 54px;
}

.contact-form{
  padding-top: 0px;
}

}



@media only screen and (max-width:1027px) {


  .aboutme-body{
  overflow: scroll;
  -webkit-overflow-scrolling: touch!important;
  height: calc(100%-50px);
}


  .contact-form{
 padding: 0px;
 margin: 0px;
 position: none;
}
.landing-grid{
  padding: 0px;
  margin: 0px;
}
.profile-cell{
  padding-top: 0px;
}
.contactform-text{
  padding-top: 0px;
}
.container-small{
  max-height: 0px;
  min-height: 0px;
  height: 0px;
  display: none;
  }
.mdl-layout__header-row.header-row{
  max-height: 0px;
  min-height: 0px;
  height: 0px;
  display: none;
}
.profile-cell img{
  margin-top:38px;
}

.contact-form h1{
padding-left: 10px;
padding-top: 30px;
padding-bottom: 0px;
margin-top: 10px;
margin-bottom: 5px;
margin-left: 10px;
}

.mdl-textfield.mdl-js-textfield.is-invalid.is-upgraded{
  
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 10px!important
}


.contact-form{
  height: calc(100%-50px);
  overflow: scroll;
  -webkit-overflow-scrolling: touch!important;
}

.mdl-cell.mdl-cell--12-col.contactform-text{
  margin-bottom: 10px;
}

}

.drawer{
  font-family:'Raleway',sans-serif;
  font-style: bold;
  font-weight: 800;
  color: black;
}

.mdl-textfield.mdl-js-textfield.is-invalid.is-upgraded{
  
  margin-left: 40px;
  width: 100%;
}